/*base change*/
body,.navbar a.nav-link, footer a, a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*NavBar*/
.navbar-collapse {
    z-index: 1070;
}
@media (max-width: 992px) {
    #navbarNav{
      top:60px;
      border-top: 1px solid rgb(222, 226, 230);
    }
    a.nav-link{
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 16px;
      font-size: 18px;
    }
    #bgsvg{
      display: none;
    }
    
}

/*Main wrapper*/
#mainWrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 140px);
}

/*borders*/

#footer{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.navbar{
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
#bgPicContainer, #galleryContainer, #contactContainer, #productWrapper{
  border-radius: 16px;
}
@media (max-width: 992px) {
  #bgPicContainer{
  border-radius: 0px;
  border-radius: 0px;
}
.navbar{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#bigPicContainer, #galleryContainer, #contactContainer, #productWrapper{
  border-radius: 0px;
}
#textContainer{
  border-bottom: 4px solid white;
}
}
/*Home page*/
.picContainer-item{
  overflow: hidden;
}
.picContainer-item  img{
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.picContainer-item:hover img {
    transform: scale(1.05);
}
/*Background Image*/

.parallax-wrapper {
  position: relative;
  background-image: url("../Images/imgBackground.jpg");
  background-size: 120% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

#bgPicContainer,
.parallax-wrapper {
  height: clamp(100px, 60vw, 800px);
}

#bgsvg1{
  top:0;
  left:0;
  width:100vw;
  pointer-events: none;
}

/*Product page*/
.product-card {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1.2s ease forwards;
    position: relative;
    width: 304px;
    height: 540px;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    overflow: hidden;
}

.product-card img {
    display: block;
    width: 100%;
    height: 540px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.product-card:hover img{
  transform: scale(1.05);
}

.product-caption{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
/*gallery page*/
.gallery-item {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1.2s ease forwards;
    overflow: hidden;
    flex-direction: column;
    width: 340px;
}
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.gallery-item img {
    height: 340px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}
.caption {
  background-color: white;
    z-index: 2;
    height: 40px;
    border-top: 1px solid #632C21;
}
.gallery-item:hover img {
    transform: scale(1.05);
}
/*Contact*/


/*spacers*/
#spacer-lg{
  margin:0;
  padding: 0;
  background-color: white;
  height:40px;
}

/*colors*/

.navbar, .picContainer-item, #footer, #galleryContainer, #contactContainer, #productWrapper{
  background-color: #e3dedd;
}
.gallery-item{
  background-color: white;
}
#btnSubmit{
  background-color: #413227;
}
a,h1,h2,p, a.nav-link, label{
  color:#413227;
}

@media (max-width: 992px) {
  #picContainer, #productWrapper, #contactContainer, .gallery-item, #textContainer,  #galleryContainer, #productWrapper{
  background-color: #e3dedd;
}
.navbar, .collapse, .gallery-item, #footer, .picContainer-item{
  background-color: white;
}
.navbar{
  background-color: white;
  border-bottom: none;
}
}

#btnSubmit{
  width:120px;
  height:46px;
  border: none;
}