/*base change*/
body,.navbar a.nav-link, footer a, a{
    color: #413227;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*NavBar*/
.navbar-collapse {
    z-index: 1070;
}

@media (max-width: 992px) {
    #navbarNav{
      top:60px;
      border-top: 1px solid rgb(222, 226, 230);
    }
    a.nav-link{
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 16px;
      font-size: 18px;
    }
    #bgsvg{
      display: none;
    }
}

/*Main wrapper*/
#mainWrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 140px);
}
/*Background Image*/

.parallax-wrapper {
  position: relative;
  background-image: url("../Images/imgBackground.jpg");
  background-size: 120% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

#bgPicContainer,
.parallax-wrapper {
  height: clamp(100px, 60vw, 800px);
}

#bgsvg1{
  top:0;
  left:0;
  width:100vw;
  pointer-events: none;
}

@media (max-width: 576px) {
  #textContainer, #picContainer {
    background-color: #F0D3CE;
  }
}

/*Product page*/
.product-card {
    width: 304px;
    height: 540px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: 540px;
    object-fit: cover;
    border-radius: 16px; 
}
/*gallery page*/
.gallery-item {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1.2s ease forwards;
    overflow: hidden;
    flex-direction: column;
    width: 340px;
}
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.gallery-item img {
    height: 340px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}
.caption {
    height: 40px;
}
.gallery-item:hover img {
    transform: scale(1.05);
}

/*spacers*/
#spacer-lg{
  margin:0;
  padding: 0;
  background-color: white;
  height:40px;
}

/*colors*/
#textContainer, #picContainer, #productWrapper, #contactContainer, #galerijaContainer, #galleryContainer{
  background-color: #e3dedd;
}
#btnSubmit{
  background-color: #413227;
  border: none;
}
