/*base change*/
body,.navbar a.nav-link, footer a, a{
    color: #413227;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*NavBar*/
.navbar-collapse {
    z-index: 1070;
}

@media (max-width: 992px) {
    #navbarNav{
      top:60px;
      border-top: 1px solid rgb(222, 226, 230);
    }
    a.nav-link{
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 16px;
      font-size: 18px;
    }
    #bgsvg{
      display: none;
    }
}

/*Main wrapper*/
#mainWrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 140px);
}
/*Background Image*/

.parallax-wrapper {
  position: relative;
  background-image: url("Content/imgBackground.jpg");
  background-size: 120% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

#bgPicContainer,
.parallax-wrapper {
  height: clamp(100px, 60vw, 800px);
}

#bgsvg1{
  top:0;
  left:0;
  width:100vw;
  pointer-events: none;
}

@media (max-width: 576px) {
  #textContainer, #picContainer {
    background-color: #F0D3CE;
  }
}

/*Product page*/
.product-card {
    width: 304px;
    height: 540px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: 540px;
    object-fit: cover;
    border-radius: 16px;
}
/*gallery page*/
#galerijaContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: min-content;
    gap: 8px;
}

/* Each item */
.gallery-item {
    display: flex;
    flex-direction: column;
}

/* Image keeps native width/height */
.gallery-item img {
    width: auto; /* keep native size */
    max-width: 100%; /* scale down if too big for column */
    height: auto;
    display: block;
}

/* Caption box below image */
.gallery-item .caption {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.05); /* light background */
    text-align: center;
}

/*spacers*/
#spacer-lg{
  margin:0;
  padding: 0;
  background-color: white;
  height:40px;
}

/*colors*/
#textContainer, #picContainer, #productWrapper, #contactContainer, #galerijaContainer{
  background-color: #e3dedd;
}
#btnSubmit{
  background-color: #413227;
  border: none;
}
