/*base change*/
body,a{
    color: #413227;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*NavBar*/
.navbar-collapse {
    z-index: 1070;
}

@media (max-width: 992px) {
    #navbarNav{
      top:60px;
      border-top: 1px solid rgb(222, 226, 230);
    }
    a.nav-link{
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 16px;
      font-size: 18px;
    }
    #bgsvg{
      display: none;
    }
}

/*Background Image*/



.parallax-wrapper {
  position: relative;
  background-image: url("Content/imgBackground.jpg");
  background-size: 120% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

#bgPicContainer,
.parallax-wrapper {
  height: clamp(100px, 50vw, 800px);
}

#bgsvg1{
  top:0;
  left:0;
  width:100vw;
  pointer-events: none;
}

#textContainer,#picContainer{
  background-color: #e3dedd;
}