/*base change*/
body,.navbar a.nav-link, footer a{
    color: #413227;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*NavBar*/
.navbar-collapse {
    z-index: 1070;
}

@media (max-width: 992px) {
    #navbarNav{
      top:60px;
      border-top: 1px solid rgb(222, 226, 230);
    }
    a.nav-link{
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 16px;
      font-size: 18px;
    }
    #bgsvg{
      display: none;
    }
}

/*Background Image*/



.parallax-wrapper {
  position: relative;
  background-image: url("Content/imgBackground.jpg");
  background-size: 120% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

#bgPicContainer,
.parallax-wrapper {
  height: clamp(100px, 60vw, 800px);
}

#bgsvg1{
  top:0;
  left:0;
  width:100vw;
  pointer-events: none;
}

#textContainer, #picContainer, #productWrapper{
  background-color: #e3dedd;
}

@media (max-width: 576px) {
  #textContainer, #picContainer {
    background-color: #F0D3CE;
  }
}

/*Product page*/
.product-card {
    width: 304px;
    height: 540px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 16px;
}

.product-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.product-card p {
    margin: 10px;
    font-size: 1rem;
    flex-grow: 1;
}

@media (max-width: 992px) {
    .product-card {
        width: 48%; /* 2 per row */
    }
}

@media (max-width: 576px) {
    .product-card {
        width: 100%; /* 1 per row */
    }
}